PyPDF2
streamlit
transformers
torch
# accelerate
# torchvision
# torchaudio
pdfminer.six
flash-attn
nltk
scipy==1.12
numpy
gensim
load_dotenv
deepl
googletrans==4.0.0rc1
spacy==3.7.4 # for more info see https://spacy.io/usage#quickstart
langchain
faiss-cpu
